* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
  }
  
  body {
    background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
  }

  button{
    background-color: #7879F1;
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
    transition: background .3s;
  }

  button:hover{
    background-color: #6767da;  
  }
  
  main {
    background: #ffffff;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 4.8rem 6.4rem 6.4rem;
  
    width: min(42.8rem, 90%);
    margin-top: -12rem;
    place-items: center;
  }
  
main h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #34355B;
}

.screen1 h2{
  margin-top: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;

  color: rgba(52, 53, 91, 0.8);
}

main h2{
    margin-top: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    color: rgba(52, 53, 91, 0.8);
}

main form{
    text-align: center;
    margin-top: 4.8rem;
    
}

form{
  display: flex;
  justify-content: center;
}

input, button{
  border: none;
  padding: 1.6rem;
}

input{
  background-color: #DCE2E9;
  width: 5.0rem;
  border-radius: .4rem 0 0 .4rem;
}



.hide{
  display: none;
}


h2{
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: normal;

  margin-bottom: 3.3rem;
}

.screen2 button{
  border-radius: .4rem;
  
}





